{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ingresos</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/dattaAble/images/favicon.ico' %}" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="{% static 'assets/dattaAble/fonts/fontawesome/css/fontawesome-all.min.css' %}">
    <!-- animation css -->
    <link rel="stylesheet" href="{% static 'assets/dattaAble/plugins/animation/css/animate.min.css' %}">
    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'assets/dattaAble/css/s.css' %}">


    <script src="{% static 'assets/dattaAble/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/dattaAble/js/vendor-all.min.js' %}"></script>
	<script src="{% static 'assets/dattaAble/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/dattaAble/js/pcoded.min.js' %}"></script>

    <script src="{% static 'assets/dattaAble/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    {% include 'layouts/includes/navigation.html' %}

    <div class="pcoded-main-container m-auto">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Required Js -->
{% block scripts %}
{% endblock %}

</body>
</html>
