{% extends 'CRUD/index.html' %}
{% block columns %}
    <tr>
        <th>Usuario</th>
        <th>Bank inicial</th>
        <th>Fondos</th>
        <th>Apostado</th>
        <th>Ganancias</th>
        <th>Profit</th>
        <th>Yield</th>
        <th>Aciertos</th>
        <th>Fallos</th>
        <th>Nulos</th>
        <th>%Aciertos</th>
        <th>Media-Cuota</th>
        <th>Media-Apostado</th>
        <th>Max-Apuesta</th>
        <th>Max-Ganancia</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for user in object_list %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.balance.initial_bank}}</td>
            <td>{{ user.balance.bank}}</td>
            <td>{{ user.balance.total_amount}}</td>
            <td>{{ user.balance.total_gain}}</td>
            <td>{{ user.balance.profit}}%</td>
            <td>{{ user.balance.yield_numb}}%</td>
            <td>{{ user.balance.total_wins}}</td>
            <td>{{ user.balance.total_loses}}</td>
            <td>{{ user.balance.total_null}}</td>
            <td>{{ user.balance.win_rate}}%</td>
            <td>{{ user.balance.odd_avg}}</td>
            <td>{{ user.balance.amount_avg}}</td>
            <td>{{ user.balance.max_amount}}</td>
            <td>{{ user.balance.max_gain}}</td>
        </tr>
    {% endfor %}

{% endblock %}